@media print {
    .page-break {
        page-break-before: always;
    }

    p {
        widows: 3;
    }

    @page {
        size: landscape
    }

    footer {
        display: none;
    }

    p a {
        word-wrap: break-word;
    }
    a:link:after, a:visited:after {
        content: " (" attr(href) ") ";
    }
    a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    a, a:visited {
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
    .print {
        display:block;
    }

    .no-print, .box-footer, .box-search {
        display:none;
    }

}
